@import url("https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "colors.scss";
@import "../vendors/bootstrap/bootstrap-utilities.scss";
body {
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
  &.body--stop-scroll {
    height: 100%;
    overflow: hidden;
  }
}

p,
li,
span {
  font-family: "Economica", sans-serif;
  font-size: 2em;
  &.text--large {
    font-size: 2.5em;
  }
  &.text--medium {
    font-size: 1.8em;
  }
  &.text--small {
    font-size: 1.5em;
  }
  &.text--inherit-size {
    font-size: inherit;
  }
  &.text--overflow-hide {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

a {
  text-decoration: none;
  color: $color--purple-dark-1;
  &:hover {
    color: $color--purple;
  }

  &.text--large {
    font-size: 2.5em;
  }
  &.text--medium {
    font-size: 1.8em;
  }
  &.text--small {
    font-size: 1.5em;
  }

  &.btn {
    &--active {
      filter: drop-shadow(0 0 0.1px $color--purple);
      box-shadow: $box-shadow-purple;
    }
    &--purple {
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      color: white;
      padding: 12px;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 0.1px $color--purple-dark-2);
        box-shadow: $box-shadow-purple;
        transition: box-shadow 0.1s ease-in;
      }

      transition: box-shadow 0.3s ease-out;
    }
  }

  transition: color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Economica", sans-serif;
  user-select: none;
  font-size: 3em;

  &.text--large {
    font-size: 3.5em;
  }
  &.text--xxl {
    font-size: 5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  &.text--purple {
    text-shadow: 0 0 1px white, 0 0 2px $color--purple,
      0 0 2px $color--purple-dark-1, 0 0 2px $color--purple-dark-1,
      0 0 4px $color--purple-dark-2, 0 0 4px $color--purple-dark-2,
      0 0 4px $color--purple-dark-2;
  }
  &.text--teal {
    color: rgb(235, 235, 235);
    text-shadow: 0 0 1px white, 0 0 4px $color--teal,
      0 0 4px $color--teal-dark-1, 0 0 5px $color--teal-dark-1,
      0 0 4px $color--teal-dark-1, 0 0 5px $color--teal-dark-1,
      0 0 5px $color--teal-dark-1, 0 0 5px $color--teal-dark-1,
      0 0 5px $color--teal-dark-1;
  }
}
